<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b912841f-245a-4b3b-9633-a6c4e9b640f0/resourceGroups/CarZone/providers/Microsoft.Web/sites/CarZone</ResourceId>
    <ResourceGroup>CarZone</ResourceGroup>
    <ApiResourceId>/subscriptions/b912841f-245a-4b3b-9633-a6c4e9b640f0/resourceGroups/CarZone/providers/Microsoft.ApiManagement/service/CarZoneServer/apis/server</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://carzone.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0afd6465-5c98-43da-8b46-e9d6dd46b850</ProjectGuid>
    <MSDeployServiceURL>carzone.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarZone</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CarZone</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAeb43QfWBJkueIinhRN9L5gAAAAACAAAAAAAQZgAAAAEAACAAAABfsUcC3aKRTAJkcFllVL34qASPyaQbXZLDOtVAxCxFeQAAAAAOgAAAAAIAACAAAADYjcO71cmEZM3klhdC390geAqeo5K9310T2OR3k6DHxoAAAAA+aykhI5sJGT+yMV9OoF05HlJDOjLPjyW7wyrYgZddYCJICwT7/tdWFpf3xmwfmU2twrHk70JUH3MYznxo+xis4VY1/dx0sxjYWY0+AAJHhGEvQS7Z6mZR4ga/6RBWEpFY/Cb3yLkgGmdwL9Zot7nhzSxswit0yWe0H+bDD/9qg0AAAAAg77PMJDrs2kF91csV23E+omTVucI0xNm/GGwLweNSTr/+IuHADmmVtPVrstso5DmEYjEaUBzdjQMTY80VvkSk</EncryptedPassword>
    <History>False|2024-06-08T00:55:12.7480031Z;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>