.tz_custom_1715333344230954 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}
.elementor-13506 .elementor-element.elementor-element-2c2c9c8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.elementor-13506 .elementor-element.elementor-element-481ae37 {
    text-align: center;
}
@media (min-width: 640px) {
    .elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
        width: 50%;
    }
}
.elementor-13506 .elementor-element.elementor-element-39a9ed1 > .elementor-widget-container {
    margin: 15px 0px 0px 0px;
}
.elementor-13506 .elementor-element.elementor-element-7a32e24 > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-13506 .elementor-element.elementor-element-c06f07f .elementor-social-icon:hover {
    background-color: #FF5500 !important;
    cursor: pointer;
    transition: all ease 0.5s;
}
.elementor-13506 .elementor-element.elementor-element-c06f07f > .elementor-widget-container {
    margin: 20px 0px 0px 0px;
}
.elementor-13506 .elementor-element.elementor-element-c06f07f .elementor-widget-container {
    text-align: right;
}
.elementor-widget-social-icons.elementor-grid-0 .elementor-widget-container, .elementor-widget-social-icons.elementor-grid-mobile-0 .elementor-widget-container, .elementor-widget-social-icons.elementor-grid-tablet-0 .elementor-widget-container {
    line-height: 1;
    font-size: 0;
}
.elementor-13506 .elementor-element.elementor-element-c06f07f {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 14px;
    --grid-column-gap: 12px;
    --grid-row-gap: 0px;
}
.elementor-13506 .elementor-element.elementor-element-9cf9bf9 {
    text-align: right;
}
.elementor-widget:not(:last-child) {
    margin-block-end: 15px;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-13506 .elementor-element.elementor-element-2267bb7 > .elementor-element-populated {
    margin: 0px 50px 0px 0px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0px;
}
.elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.elementor-13506 .elementor-element.elementor-element-7a32e24 {
    margin-top: 70px;
    margin-bottom: 0px;
    padding: 0% 15% 0% 15%;
}
.elementor-13506 .elementor-element.elementor-element-ee55686 .elementor-social-icon:hover {
    background-color: #FF5500;
    transition: all ease 0.5s;
}
.elementor-13506 .elementor-element.elementor-element-ee55686 > .elementor-widget-container {
    margin: 20px 0px 0px 0px;
}
.elementor-13506 .elementor-element.elementor-element-ee55686 .elementor-icon {
    border-radius: 0px 0px 0px 0px;
}
.elementor-13506 .elementor-element.elementor-element-ee55686 .elementor-social-icon {
    background-color: #CCCCCC;
    --icon-padding: 1em;
}
.elementor-grid-0 .elementor-grid .elementor-grid-item {
    display: inline-block;
    margin-bottom: 15px 15px;
    word-break: break-word;
}
.elementor-13506 .elementor-element.elementor-element-d3553a5 > .elementor-element-populated {
    margin: 0px 0px 0px 50px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 50px;
}
.elementor-widget:not(:last-child) {
    margin-block-end: 15px;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-13506 .elementor-element.elementor-element-d1d06b3 .elementor-heading-title {
    color: #222222;
    font-size: 24px;
    text-transform: capitalize;
}
@media (min-width: 1200px) {
    .uk-child-width-1-4\@l>* {
        width: 25%;
    }
}
.e-con-inner>.elementor-element.elementor-absolute, .e-con>.elementor-element.elementor-absolute, .elementor-widget-wrap>.elementor-element.elementor-absolute {
    position: absolute;
}
.elementor-7351 .elementor-element.elementor-element-ba9ec59.elementor-view-framed .elementor-icon, .elementor-7351 .elementor-element.elementor-element-ba9ec59.elementor-view-default .elementor-icon {
    color: #FFFFFF1A;
    border-color: #FFFFFF1A;
}
.elementor-7351 .elementor-element.elementor-element-ba9ec59 .elementor-icon {
    font-size: 120px;
}
.elementor-7351 .elementor-element.elementor-element-e97302c > .elementor-widget-container {
    padding: 0px 20px 0px 0px;
}
.elementor-7351 .elementor-element.elementor-element-7867070:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-7351 .elementor-element.elementor-element-7867070 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}
.elementor-7351 .elementor-element.elementor-element-7867070 > .elementor-element-populated {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 30px 0px 0px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 0px;
    padding: 25px 30px 30px 30px;
}
 .elementor-element.elementor-element-384926f > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
    padding: 5px 0px 15px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #EEEEEE;
}
.elementor-widget-icon-box.elementor-position-left .elementor-icon-box-wrapper {
    text-align: start;
    flex-direction: row;
}
.elementor-widget-icon-box.elementor-position-left .elementor-icon-box-wrapper, .elementor-widget-icon-box.elementor-position-right .elementor-icon-box-wrapper {
    display: flex;
}
.elementor-element.elementor-element-384926f.elementor-view-framed .elementor-icon,  .elementor-element.elementor-element-384926f.elementor-view-default .elementor-icon {
    fill:#FF5500;
    color:#FF5500;
    border-color:#FF5500;
}
@media (min-width: 640px) {
    .elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
        width: 50%;
    }
}
 .elementor-element.elementor-element-36f46ca {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #EEEEEE;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 8px;
    padding: 0px 0px 8px 0px;
}
 .elementor-element.elementor-element-384926f .elementor-icon-box-title,  .elementor-element.elementor-element-384926f .elementor-icon-box-title a {
    line-height: 1.4em;
}
 .elementor-element.elementor-element-384926f .elementor-icon {
    font-size: 16px;
}
@media (min-width: 640px) {
    .elementor-widget-icon-box.elementor-vertical-align-top .elementor-icon-box-wrapper {
        align-items: flex-start;
    }
}
 .elementor-element.elementor-element-46cc1d6 .line {
    width: 60px;
    height: 1px;
    background-color: #FF5500;
}
.elementor-7351 .elementor-element.elementor-element-46cc1d6 .title {
    margin: 0px 0px 15px 0px;
}
.elementor-7351 .elementor-element.elementor-element-46cc1d6 > .elementor-widget-container {
    margin: 0px 0px 10px 0px;
}
.elementor-7351 .elementor-element.elementor-element-e97302c .ui-card .uk-card-title, .elementor-7351 .elementor-element.elementor-element-e97302c .ui-card .uk-card-title a {
    color: #FFFFFF;
    font-size: 16px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
}
.elementor-7351 .elementor-element.elementor-element-2abb085 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.elementor-7351 .elementor-element.elementor-element-e97302c .ui-card {
    color: #FFFFFF;
}
.uk-card {
    position: relative;
    box-sizing: border-box;
    transition: box-shadow 0.1s ease-in-out;
}
.elementor-icon {
    display: inline-block;
    line-height: 1;
    transition: all .3s;
    color: #69727d;
    font-size: 50px;
    text-align: center;
}
.elementor-widget-wrap .elementor-element.elementor-widget__width-auto, .elementor-widget-wrap .elementor-element.elementor-widget__width-initial {
    max-width: 100%;
}

.elementor-7351 .elementor-element.elementor-element-ba9ec59 .elementor-icon-wrapper {
    text-align: left;
}
.elementor-7351 .elementor-element.elementor-element-ba9ec59 {
    width: auto;
    max-width: auto;
    top: 55px;
    z-index: 2;
}
.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 10px;
}
@media (min-width: 640px) {
    .elementor-column.elementor-col-25, .elementor-column[data-col="25"] {
        width: 25%;
    }
}
@media (min-width: 960px) {
    .elementor-section.elementor-section-boxed>.elementor-container, .elementor-element.e-con-boxed>.e-con-inner {
        padding-left: 40px;
        padding-right: 40px;
    }
}
#background {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 80px 0px;
}
#background {
    background-image: url(https://autoshowroom.templaza.net/wp-content/uploads/2022/10/Hue_Saturation-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-13506 .elementor-element.elementor-element-a5bb6cd .ui-posts-intro-item .ui-post-meta-middle a {
    color: #555555;
    text-decoration: none;
}
.elementor-13506 .elementor-element.elementor-element-a5bb6cd .ui-posts-intro-item .ui-post-meta-middle {
    color: #555555;
    margin: 7px 0px 0px 0px;
}
.elementor-13506 .elementor-element.elementor-element-a5bb6cd .ui-posts.style1 .ui-title, .elementor-13506 .elementor-element.elementor-element-a5bb6cd .ui-posts-intro-item .ui-title {
    font-size: 18px;
    text-transform: capitalize;
}
.elementor-13506 .elementor-element.elementor-element-a5bb6cd .ui-posts-intro-item .ui-post-info-wrap .uk-card-body {
    padding: 30px 30px 30px 30px;
}
.elementor-13506 .elementor-element.elementor-element-a5bb6cd .ui-posts-intro-item .uk-card {
    background-color:#FFFFFF;
}
.elementor-13506 .elementor-element.elementor-element-a5bb6cd > .elementor-widget-container {
    margin: 40px 0px 0px 0px;
}
 .elementor-element.elementor-element-d75f7e0 > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 20px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #EEEEEE;
}
.elementor-13506 .elementor-element.elementor-element-8fad7c1 > .elementor-widget-container {
    margin: 5px 0px 0px 0px;
    padding: 0% 25% 0% 25%;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-13506 .elementor-element.elementor-element-0e25064 .line-before {
    width: 60px;
    height: 1px;
    background-color: #FF5500;
}
.elementor-13506 .elementor-element.elementor-element-0e25064 .line {
    width: 60px;
    height: 1px;
    margin: 3px 0px 0px 0px;
    background-color: #FF5500;
}
.uk-transition-toggle:hover .uk-transition-scale-up, .uk-transition-toggle:focus .uk-transition-scale-up, .uk-transition-toggle .uk-transition-scale-up:focus-within, .uk-transition-active.uk-active .uk-transition-scale-up {
    --uk-scale-x: 1.03;
    --uk-scale-y: 1.03;
    opacity: 1;
}
.ui-image .ui-image-flash-effect:hover:before {
    -webkit-animation: slide 1.3s;
   
    animation: slide 1.3s;
}
.elementor-13506 .elementor-element.elementor-element-0e25064 .title {
    margin: 0px 0px 15px 0px;
}
.elementor-13506 .elementor-element.elementor-element-0e25064 .sc_heading {
    text-align: center;
    align-items: center;
}
.elementor-13506 .elementor-element.elementor-element-0e25064 > .elementor-widget-container {
    margin: 0px 0px 15px 0px;
}
.elementor-widget:not(:last-child) {
    margin-block-end: 15px;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.elementor-13506 .elementor-element.elementor-element-aedf085 {
    margin-top: 90px;
    margin-bottom: 0px;
}
@keyframes slide{
    0% {
        left: -90%;
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 0;
    }
}
.ui-image .ui-image-flash-effect:before {
    position: absolute;
    top: 0;
    left: 25%;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
    z-index: 2;
    opacity: 0;
}
.ui-image .ui-image-detail {
    transition: all .3s linear;
}
.elementor-13506 .elementor-element.elementor-element-afd9235 > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-inner-section .elementor-column-gap-no .elementor-element-populated {
    padding: 0;
}
.elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.elementor-13506 .elementor-element.elementor-element-481ae37 > .elementor-widget-container {
    margin: 5px 0px 0px 0px;
    padding: 0% 25% 0% 25%;
}   
.elementor-13506 .elementor-element.elementor-element-afd9235 {
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0% 15% 0% 15%;
}
.elementor-widget:not(:last-child) {
    margin-block-end: 15px;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-13506 .elementor-element.elementor-element-2145a7b .line {
    width: 60px;
    height: 1px;
    margin: 3px 0px 0px 0px;
    background-color: #FF5400;
}
.elementor-13506 .elementor-element.elementor-element-2145a7b .line-before {
    width: 60px;
    height: 1px;
    background-color: #FF5400;
}
.elementor-13506 .elementor-element.elementor-element-2145a7b .heading-highlighted-wrapper {
    font-size: 30px;
    font-weight: 700;
    line-height:1.2em;
}
.uk-flex-column {
    flex-direction: column;
}
.elementor-13506 .elementor-element.elementor-element-2145a7b .title {
    margin: 0px 0px 15px 0px;
}
.elementor-13506 .elementor-element.elementor-element-2145a7b > .elementor-widget-container {
    margin: 0px 0px 15px 0px;
}
.elementor-13506 .elementor-element.elementor-element-2145a7b .sc_heading {
    text-align: center;
    align-items: center;
}