.newProduct{
    padding: 10px 25px 10px 25px;
    background-color: #FF5500;
    border-radius: 1px;
    text-decoration: none;
    color: #fff;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1rem;

}
.verical-line{
    width: 5px;
    height: 100%;
    background-color: #FF5500;
}
.text-banner-homepage{
    width: 100%;
    max-width: max-content;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
  
    /* font-family: Inter, Arial, Helvetica, sans-serif; */
    font-family: "Russo One", sans-serif;

}
.text-banner{
    font-size: 1.7rem;
        font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
    font-family: Inter, Arial, Helvetica, sans-serif;

color: #fff;
}
.text-banner b {
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF5500;
    font-family: Inter, Arial, Helvetica, sans-serif;

}
.title-text{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.title-text1{
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
}
.circle-icon{
    border-radius: 50%;
    background-color: #FD7531;
    width: 150px;
    height: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    z-index: 2;
}
.slider1{
    overflow: hidden;
}


.img-slider{
    height: 280px;
}
.dots {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dot {
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color:transparent;
    border-color: #FF5500;
    border-width: 1px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #FF5500; /* Màu sắc cho dot đang active */
    height: 15px;
    width: 15px;
}
.con1{
    display: flex;
    
    justify-content: center;
    z-index: 2;
}
.text-featured{
    font-size: 2rem;
    font-weight: bold;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
}
.text-featured1{
    font-size: 2rem;
    font-weight: bold;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
}
.vertical-x-parallel{
   
}
.line-x{
    width: 65px;
    height: 1px;
    background-color: #FF5500;
    
}
.text-descr{
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    max-width: 800px;
}
.text-descr1{
    font-size: 1.2rem;
    font-weight: 400;
    color: #5F5555;
    text-align: center;
    max-width: 800px;
}
.container-mini{
    background-color: #FF5500;
    bottom: 0;
    height: 40px;
    
    
    padding: 10px 25px 25px 25px;
}
.text-card{
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;

}
.img-slider{
    height: 300px;
    object-fit: cover;
}
.title-section3{
    color: #222222;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}
.title1-section3{
    margin-top: 22px;
    color: #666666;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.title3-section3{
    color: #666666;
    font-size: 1rem;
    font-weight: 400;
    
}
.numbercount{
    color: #fff;
    font-weight: bold;
    font-size: 3.5rem;

}
.titleCount{
    margin-top: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.buttonSearch{
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
}
.text-browse{
    font-size: 2rem;
    color: black;
    font-weight: 600;
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.text-show{
    font-size: 1.2rem;
    color: #FF5500;
    font-weight: 600;
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.nameLogo{
    font-size: 1.1rem;
    
}
.quantityCar{
    font-size: 1rem;
    font-weight: 400;
    color: #FF5500;
}
.calendar{
    font-size: 1.1rem;
    color: #fff;
    margin: 0;
    padding: 0 10px 0 10px;
}
.cardInfo {
    background-color: white;
    border-color: #f3f3f3;
    border-width: 1px;
    width: 80%; 
    height: 70%; 
    right: 0; 
    top: 220px; 
    position: absolute; 
    transition: top 0.3s ease; 
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
    /* 
      Giải thích:
      -5px -> bóng nghiêng sang trái
      5px -> bóng nghiêng xuống dưới
      10px -> bán kính làm mờ bóng
      rgba(0, 0, 0, 0.1) -> màu đen với độ trong suốt là 10%
    */
}
.container-cardInfo{
    border-color: #f3f3f3;
    border-width: 1px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
.container-cardInfo:hover .cardInfo {
    top: 135px; 
}
.circle-avatar-author{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.title-blog{
    font-size: 1.6rem;
    width: fit-content;
    color: #222222;
text-transform: uppercase;

}
.text-description{
    font-size: 1rem;
    width: fit-content;
    color: #a1a1a1;
    font-family: Inter, Arial, Helvetica, sans-serif;

}
.readMore{
    color: #222222;
    font-size: 1rem;
    font-weight: bold;
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.imageContainer{   
    height: 100%; 
    right:300px;   
    position: absolute; 
    transition: right 0.3s ease-in-out;
}
.containerCar:hover .imageContainer{  
    right: 100px;
}
.imageContainer1{   
    height: 100%; 
    left: 400px;   
    position: absolute; 
    transition: left 0.3s ease-in-out;
}
.containerCar1:hover .imageContainer1{ 
    left: 250px;
}
.button-black{
    color: #f3f3f3;
    background-color: #000;
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    z-index: 10;   
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease-in;
}
.button-white{
    color: #000;
    background-color: #fff;
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    z-index: 10;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease-in;
}
.button-black:hover{
    color: #222222;
    background-color: #fff;   
}
.button-white:hover{
    color: #fff;
    background-color: #000;  
}
.title-text3{
    font-size: 1.8rem;
    font-weight: bold;
    color: #f3f3f3;
    font-family: Helvetica;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 20px;
}

.title-text4{
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    font-family: Helvetica;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 15px;
}
.title-description{
    font-size: 1.1rem;
    font-weight: 400;
    color: #f3f3f3;
    line-height: 1.2;
    margin-bottom: 40px;
}
.section6 h1{
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    font-family: Helvetica;
    text-transform: uppercase;
    margin-top: 20px;
}
.section6 h1 b{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Helvetica;
    color: #FF5500;
}
.section6 p{
    margin-top: 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    font-family: Helvetica;
    color: #7B5555;
}
.section6 h2{
    font-size: 1rem;
    font-weight: bold;
    color: #555555;
}
.section6 h3{
    font-size: 1rem;
    margin: 0;
    color: #7B5555;
}
.image-Card{
    border-radius: 12px;
    overflow: hidden;
}